[build-system]
requires = [
    "setuptools>=43",
    "wheel",
    "mypy>=1.0",
]
build-backend = "setuptools.build_meta"

[tool.mypy]
python_version = "3.10"
warn_return_any = true
warn_unused_configs = true
